$primary-color: #fcfcfc;
$secondary-color: #152d2d;
$light-bg-color: #c3d3cb;
$dark-bg-color: #000000;

$primary-ff: 'Fredericka the Great', cursive;
$secondary-ff: 'Cormorant Garamond', serif;
$body-ff: 'Roboto', sans-serif;

// --main-text-color
// --main-color
// --main-bg-color
// --second-color


// $small: 12px;
// $form-label: 14px;
// $medium: 16px;
// $large: 24px;

// font-14
// font-24