@use './snippet';
@use './variables' as *;

// setting some document defaults

html {
    font-family: $body-ff;
    font-size: 62.5%;
    color: $primary-color;
}

// To achieve full bleed design

.wrapper {
    width: 90%;
    max-width: 1300px;
    margin: 0 auto;
}

// element stripping to remove default styling

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
    height: auto;
    display: block;
}

p {
    font-size: 2rem;
    line-height: 1.45;
}

button,
.link-button {
    font-family: $secondary-ff;
    font-size: 1.8rem;
    text-transform: uppercase;
    text-align: center;
    line-height: 1.611;
    display: inline-block;
    padding: 0.5em 1.35em;
}

// header

// sin ce there are multiple navs in differecnt sections
nav {
    font-family: $secondary-ff;
    font-size: 2.2rem;
    line-height: 1.318;
    text-transform: uppercase;
}

header {
    min-height: 100vh;
    background-image: url(../../assets/image-1.jpg);
    background-position: 27.5% 75%;
    background-size: cover;
    background-repeat: no-repeat;
    padding-top: 2em;
    // to control positioning of .social
    position: relative;
        .wrapper {
            display: flex;
            flex-direction: row-reverse;
            justify-content: space-between;
                h1 {
                    font-family: $primary-ff;
                    font-size: 12rem;
                    text-align: right;
                    text-transform: uppercase;
                    line-height: 0.975;
                }
                nav {
                    flex-basis: 50%;
                }
                    .menu {
                        display: flex;
                        gap: 1.2em;
                    }
                    .social {
                        position: absolute;
                        bottom: 4%;
                        right: 4%;
                    }
        }
        // general header style
        a {
            color: inherit;
        }   
}

// main

.about {
    background-color: $secondary-color;
    padding:  $section-padding;
        .wrapper {
            display: flex;
            justify-content:space-between;
            gap: 30px;
                .about-image {
                    flex-basis: 30%;
                        img {
                            height: 100%;
                            max-height: 360px;
                            object-fit: cover;
                        }
                }
                .about-text {
                    flex-basis: 70%;
                }
                h2 {
                    font-family: $primary-ff;
                    font-size: $section-h-fs;
                    text-transform: uppercase;
                    margin: 0;
                }
                p {
                    margin-top: 0;
                    display: -webkit-box;
                    -webkit-line-clamp: 8;
                    -webkit-box-orient:vertical;
                    overflow: hidden;
                }
                a {
                    background-color: $primary-color;
                    color: $secondary-color;
                }
        }
}

.gallery {
    background-color: $light-bg-color;
    padding:  $section-padding;
}
