@use './snippet';
@use './variables' as *;

// setting some document defaults

html {
    font-family: $body-ff;
    font-size: 62.5%;
    color: $primary-color;
}

// To achieve full bleed design

.wrapper {
    width: 90%;
    max-width: 1300px;
    margin: 0 auto;
}

// element stripping to remove default styling

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
    height: auto;
    display: block;
}

p {
    font-size: 2rem;
    line-height: 1.45;
}

button,
.link-button {
    font-family: $secondary-ff;
    font-size: 1.8rem;
    text-transform: uppercase;
    text-align: center;
    line-height: 1.611;
    display: inline-block;
    padding: 0.5em 1.35em;
}

.new-line {
    display: block;
}

// header

// sin ce there are multiple navs in differecnt sections
nav {
    font-family: $secondary-ff;
    font-size: 2.2rem;
    line-height: 1.318;
    text-transform: uppercase;
}

header {
    min-height: 100vh;
    background-image: url(../../assets/image-1.jpg);
    background-position: 27.5% 75%;
    background-size: cover;
    background-repeat: no-repeat;
    padding-top: 2em;
    // to control positioning of .social
    position: relative;
        .wrapper {
            display: flex;
            flex-direction: row-reverse;
            justify-content: space-between;
                h1 {
                    font-family: $primary-ff;
                    font-size: 12rem;
                    text-align: right;
                    text-transform: uppercase;
                    line-height: 0.975;
                }
                nav {
                    flex-basis: 50%;
                }
                    .menu {
                        display: flex;
                        gap: 1.2em;
                    }
                    .social {
                        position: absolute;
                        bottom: 4%;
                        right: 4%;
                    }
        }
        // general header style
        a {
            color: inherit;
        }   
}

// main

.about {
    background-color: $secondary-color;
    padding:  $section-padding;
        .wrapper {
            display: flex;
            justify-content:space-between;
            gap: 30px;
                .about-image {
                    flex-basis: 30%;
                    // along with p styling, below, this ensures a similar height for both flex children at different screen resolutions
                        img {
                            height: 100%;
                            max-height: 360px;
                            object-fit: cover;
                        }
                }
                .about-text {
                    flex-basis: 70%;
                }
                h2 {
                    font-family: $primary-ff;
                    font-size: $section-h-fs;
                    text-transform: uppercase;
                    margin: 0;
                }
                p {
                    margin-top: 0;
                    display: -webkit-box;
                    -webkit-line-clamp: 8;
                    -webkit-box-orient:vertical;
                    overflow: hidden;
                }
                a {
                    background-color: $primary-color;
                    color: $secondary-color;
                }
        }
}

.gallery {
    color: $secondary-color;
    background-color: $light-bg-color;
    padding:  $section-padding;
        h2 {
            font-family: $primary-ff;
            font-size: $section-h-fs;
            text-transform: uppercase;
            text-align: center;
            margin-top: 0;
        }
        ul {
            display: flex;
            justify-content: space-between;
            gap: 30px;
        }
}

.spotlight {
    background-color: $secondary-color;
    // design file suggests less padding but I want to introduce some consistent spacing across sections
    padding:  $section-padding;
        ul {
            display: flex;
            justify-content: space-evenly;
            // align-items: center;
                a {
                    color: $primary-color;
                    font-family: $secondary-ff;
                    font-size: 3.5rem;
                    text-transform: uppercase;
                    text-align: center;
                        i {
                            display: block;
                        }
                }
                a:not(a:first-child) {
                    i {
                        padding-bottom: 0.5em;
                    }
                }
        }
}

// .blog {
//     background-color: $dark-bg-color;
//     // move padding onto blog
//     padding:  $section-padding;
//         article {
//             display: flex;
//             justify-content: space-between;
//             gap: 50px;
//                 & > * {
//                     flex-basis: 50%;
//                 } 
//         }
//             .blog-1 .blog-image {
//                 position: relative;
//                 top: -50px;
//                 right: 0;
//             }
//             .blog-2 .blog-image {
//                 position: relative;
//                 inset: 50% 50% 0 0;
//             }
//             .blog-1 {
//                 flex-direction: row-reverse;
//             }
// }

.blog {
    color: $primary-color;
    background-color: $dark-bg-color;
    article {
        display: flex;
        height: 50%;
            .blog-image {
                flex: 0 0 50%;
                img {
                    height: 100%;
                    object-fit: cover;
                }
            }
            .blog-text {
                flex: 0 0 50%;
                display: flex;
                justify-content: center;
                align-items: center;
            }
            .wrapper {
                padding: 8em;
                    h2 {
                        font-family: $primary-ff;
                        font-size: 3.5rem;
                        text-transform: uppercase;
                    }
                    p {
                        margin-top: 0;
                        display: -webkit-box;
                        -webkit-line-clamp: 6;
                        -webkit-box-orient:vertical;
                        overflow: hidden;
                    }
                    a {
                        color: $primary-color;
                        background-color: $secondary-color;
                        margin-top: 2em;
                    }
            }
    }
    .blog-1 {
        flex-direction: row-reverse;
    }
}


@media (max-width: 480px) {
    // mobile blog section

    header {
        
    }

    .about {
        .wrapper {
            flex-direction: column;
            img {
                width: 100%;
            }
            .about-text {
                a {
                    position: relative;
                    left: 25%;
                    right: 25%;
                }
            }
        }
    }

    .gallery {
        ul {
            gap: 10px;
        }
        ul li:last-child {
            display: none;
        }
    }

    .spotlight {
        ul {
            flex-direction: column;
            gap: 30px;
            i {
                font-size: 6rem;
                padding-bottom: 0.2em;
            }
        }
    }

    .blog {
        color: $secondary-color;
        background-color: $primary-color;
        article {
            flex-direction: column;
                .blog-text {
                    padding: $section-padding;
                    text-align: center;
                    .wrapper {
                        padding: 0;
                        p {
                            -webkit-line-clamp: 7;
                        }
                    }
                }
            }
            .blog-1 {
                flex-direction: column;
            }
        }
}


/* Portrait tablet and small desktops */
// @media (max-width: 940px) {
// }

/* Landscape phone to portrait tablet */
// @media (max-width: 768px) {
// }